openai==0.28
python-dotenv==1.0.0
pdfminer.six
streamlit
streamlit-extras
streamlit-authenticator
tiktoken
trafilatura
docx2txt
langchain
faiss-cpu
unstructured
youtube-transcript-api
pytube
openpyxl
black
python-docx
pandas
networkx
azure-storage-blob
PyPDF2